width = 100px
height = 115px

.dummie
  position relative
  width width
  height height
  background url(../../assets/shared/dummie.png)
  display inline-block
  vertical-align bottom
  padding-bottom 20px
  background-repeat no-repeat

  .number
    display inline-block
    position absolute
    top 25px
    font-size 35px
    left 40px
