commando-w = commando-h = 50px

.tip
  display inline-block
  color white
  font-size 24px

.commando
  width commando-w
  height commando-h
  margin-right: 10px;
  vertical-align: middle;
  display inline-block
  background url(../../assets/shared/commando.gif)
