.profile {
  font-size: 16px;

  .avatar {
    width: 150px;
  }
  .nickname {
    margin: 10px 0;
    font-size: 18px;
  }

  .card {
    margin-top: 20px;
    margin-right: 15px;
    text-align: center;
  }

  .section-name {
    padding: 5px 0;
    text-align: left;
  }

  .badges {
    padding: 10px 0;
  }

  .control-button {
    margin-top: 8px;
    width: 100%;
  }

  .info {
    font-size: 16px;
    text-align: left;

    dt {
      margin-top: 10px;
      font-weight: 700;
    }

    dd {
      padding: 5px 0;
    }
  }
}
