.wrapper
  max-width calc(768px + 16px * 2)
  margin 0 auto
  display flex
  height 100%
  padding: 0 16px

.text-section
  margin 3em auto

.btn-nav
  font-size 0.8em
  text-transform uppercase
  cursor pointer

.btn-nav + .btn-nav
  margin-left 1em

@media screen and (max-width: 400px)
  .nav-wrapper
    -webkit-justify-content none;
    -ms-flex-pack none
    justify-content none

  .nav-logo-wrapper
    margin 0 auto

  .btn-nav
    display none

.pic
  background-position center
  background-repeat no-repeat
  display inline-block
  width 830px

  &-devtools
    height 250px
    background-image url("../../../assets/shared/google_developers_logo.png")

  &-game
    height 300px
    background-image url("../../../assets/shared/game.png")

.main-buttons
  padding 15px
  text-align center
