.wrapper
  max-width calc(768px + 16px * 2)
  margin 0 auto
  display flex
  height 100%
  padding: 0 16px

.text-section
  margin 3em auto

.btn-nav
  font-size 0.8em
  text-transform uppercase

.btn-nav + .btn-nav
  margin-left 1em

@media screen and (max-width: 400px)
  .nav-wrapper
    -webkit-justify-content none;
    -ms-flex-pack none
    justify-content none

  .nav-logo-wrapper
    margin 0 auto

  .btn-nav
    display none
