.container
  flex-direction row

  .ant-layout-header
    background #fff
    padding 0
    height 50px

  .content
    margin 20px 16px

    .list
      padding 24px
      background #fff
      minHeight 100%
