.container {
  flex-direction: row;

  .ant-layout-header {
    background: #fff;
    padding: 0;
  }

  .content {
    margin: 20px 16px;

    &.ant-layout-content {
      overflow: visible;
    }

    .list {
      padding: 25px 40px;
      background: #fff;
      min-height: 80vh;
      display: flex;
      flex-direction: column;

      .ant-spin-spinning {
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 30px;
        height: 30px;
      }

    }
  }

  .header {
    display: flex;
    justify-content: space-between;

    .ant-breadcrumb {
      font-size: 14px;
      margin-left: 40px;
    }
  }

  .ant-tag {
    margin: 4px 8px;
  }

}

.social {
  display: flex;
  justify-content: flex-end;

  .item {
    font-size: 14px;
    margin-right: 20px;
  }

  span {
    padding: 5px;
  }
}

.scrollable {
  overflow: auto;
  height: 100vh;
}
