commando-w = commando-h = 128px
logo-w = 355px

.logo
  display inline-block
  width logo-w

.project-name
  font-size 72px
  color #fff
  display inline-block

.commando
  width commando-w
  height commando-h
  display inline-block
  background-size: 50px 50px;
  background url(../../assets/shared/commando.gif)
