commando-w = commando-h = 128px
logo-w = 355px

.tutorial-container
  background url(../../../assets/background/bg_green.png)
  min-height 100%
  min-width 1024px
  background-size 100% 100%
  width 100%
  height auto
  position fixed
  top 0
  left 0

  .logo
    position absolute
    display inline-block
    width logo-w
    bottom 5%
    right 5%

  .project-name
    font-size 72px
    color #fff
    display inline-block

  .commando
    width commando-w
    height commando-h
    display inline-block
    background url(../../../assets/shared/commando.gif)
