.game {
  min-height: 70vh;

  .name {
    padding-bottom: 30px;
  }
  .rate {
    padding: 8px;
    transition: all 1.5s;
  }


  .meta {
    text-align: center;
  }

  .navigation {
    padding-top: 15px;
    transition: all 1.5s;
  }

  .ant-alert-info {
    display: inline-block;
  }

  .timeline {
    margin-bottom: 10px;

    .done {
      text-decoration: line-through;
    }
  }
}
